{
  "presets": [
    "es2015",
    "es2017",
    "stage-1",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-runtime",
    "meteor-imports"
  ],
  "env": {
    "dev": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack/webpack.config.dev.js" } ]
      ]
    },
    "prod": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack/webpack.config.prod.js" } ]
      ]
    },
    "coverage": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "build/meteor/**/*.js",
            "test/**/*.js"
          ]
        }]
      ]
    }
  }
}
