{
  "extends": "planetx",
  "rules": {
    "flowtype/no-types-missing-file-annotation": 1,

    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-nodejs-modules": 0,
    "import/no-commonjs": 0,
    "import/unambiguous": 0,
    "global-require": 0
  }
}
